<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome!</h1>
<p>Here is your info</p>
<table border="1">
    <thead>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Last Name</td>
        <td>Username</td>
        <td>Password</td>
        <td>Roles</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:each="role : ${user.roles}" th:text="${role.getName()}"></td>
    </tr>
    </tbody>
</table>
<br/>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>