<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
</head>
<body class="bg-light">

<!--black header-->
<header class="bg-dark p-3 text-white d-flex justify-content-between">
    <div>
        <b th:text="${authenticatedUser.getEmail()}">
        </b>
        with roles:
        <span th:each="role : ${authenticatedUser.getRoles()}"
              th:text="${role.toString() + ' '}">
        </span>
    </div>
    <form method="get" action="/logout">
        <button class="bg-transparent text-secondary border-0">
            Logout
        </button>
    </form>
</header>

<div class="d-flex align-items-start">

    <!--left panel with roles-->
    <div style="width: 15%;" class="nav flex-column nav-pills bg-white h-100 pt-3" id="v-pills-tab" role="tablist"
         aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin"
                type="button" role="tab" aria-controls="v-pills-admin" aria-selected="true">
            Admin
        </button>
        <button class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" data-bs-target="#v-pills-user"
                type="button" role="tab" aria-controls="v-pills-user" aria-selected="false">
            User
        </button>
    </div>

    <div style="flex: 1" class="tab-content p-4" id="v-pills-tabContent">

        <!--central panel with tabs-->
        <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
            <h1>Admin panel</h1>
            <nav>
                <div class="nav nav-tabs" role="tablist">
                    <button class="nav-link active" id="users-table-tab" data-bs-toggle="tab"
                            data-bs-target="#users-table" type="button"
                            role="tab" aria-controls="users-table" aria-selected="true">Users Table
                    </button>
                    <button class="nav-link" id="new-user-tab" data-bs-toggle="tab"
                            data-bs-target="#new-user" type="button"
                            role="tab" aria-controls="new-user" aria-selected="false">New User
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="my-tab-content">

                <!--users table-->
                <div class="tab-pane fade show active" id="users-table" role="tabpanel"
                     aria-labelledby="users-table-tab">
                    <h5 class="p-3 mb-0 border-1 border">All users</h5>
                    <section class="p-3 bg-white">
                        <table class="table table-striped">
                            <tbody>
                            <tr></tr>
                            <tr class="border-top">
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Roles</th>
                            </tr>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.getId()}"></td>
                                <td th:text="${user.getName()}"></td>
                                <td th:text="${user.getLastName()}"></td>
                                <td th:text="${user.getAge()}"></td>
                                <td th:text="${user.getEmail()}"></td>
                                <td>
                                    <th:block th:each="role : ${user.getRoles()}"
                                              th:text="${role.toString() + ' '}"></th:block>
                                </td>
                                <td>
                                    <!--edit user modal-->
                                    <div class="modal fade" th:id="'edit-modal-user-' + ${user.getId()}"
                                         tabindex="-1" role="dialog" aria-labelledby="editModalCenterTitle"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editModalLongTitle">Edit user</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:method="PATCH"
                                                          th:action="@{'/admin/edit/' + ${user.getId()}}"
                                                          id="edit-form">

                                                        <div class="row justify-content-center">
                                                            <div class="col-md-8">
                                                                <label for="editId">ID</label>
                                                                <input disabled type="text" class="form-control"
                                                                       id="editId"
                                                                       th:name="id"
                                                                       th:value="${user.getId()}">
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-md-8 gy-3">
                                                                <label for="editName">First name</label>
                                                                <input type="text" class="form-control"
                                                                       id="editName"
                                                                       th:name="name"
                                                                       th:value="${user.getName()}">
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-md-8 gy-3">
                                                                <label for="editLastName">Last name</label>
                                                                <input type="text" class="form-control"
                                                                       id="editLastName"
                                                                       th:name="lastName"
                                                                       th:value="${user.getLastName()}">
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-md-8 gy-3">
                                                                <label for="editAge">Age</label>
                                                                <input type="number" class="form-control"
                                                                       id="editAge"
                                                                       th:name="age"
                                                                       th:value="${user.getAge()}">
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-md-8 gy-3">
                                                                <label for="editEmail">Email</label>
                                                                <input type="text" class="form-control"
                                                                       id="editEmail"
                                                                       th:name="email"
                                                                       th:value="${user.getEmail()}"
                                                                       required>
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-md-8 gy-3">
                                                                <label for="editPassword">Password</label>
                                                                <input type="password" class="form-control"
                                                                       id="editPassword"
                                                                       th:name="password"
                                                                       th:value="${user.getPassword()}"
                                                                       required>
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-md-8 gy-3">
                                                                <label for="editRole">Role</label>
                                                                <select multiple size="2" class="form-select"
                                                                        id="editRole"
                                                                        name="form-selected-roles"
                                                                        required>
                                                                    <option th:each="role: ${roles}"
                                                                            th:value="${role.id}"
                                                                            th:text="${role.toString()}"
                                                                            th:selected="${user.getRoles().contains(role)}">
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <input type="submit" class="visually-hidden"/>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal" aria-label="close">Close
                                                            </button>
                                                            <button class="btn btn-primary" tabindex="0">Edit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            th:data-bs-target="'#edit-modal-user-' + ${user.getId()}">
                                        Edit
                                    </button>
                                </td>
                                <td>
                                    <!--delete user modal-->
                                    <div class="modal fade" th:id="'delete-modal-user-' + ${user.getId()}"
                                         tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLongTitle">Delete user</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:method="DELETE"
                                                          th:action="@{'/admin/delete/' + ${user.getId}}"
                                                          id="delete-form">
                                                        <div class="row justify-content-center">
                                                            <div class="col-md-8">
                                                                <label for="deleteFormId">ID</label>
                                                                <input disabled type="text" class="form-control"
                                                                       id="deleteFormId"
                                                                       th:value="${user.getId()}">
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-md-8">
                                                                <label for="deleteFormName">First Name</label>
                                                                <input disabled type="text" class="form-control"
                                                                       id="deleteFormName"
                                                                       th:value="${user.getName()}">
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-md-8">
                                                                <label for="deleteFormLastName">Last Name</label>
                                                                <input disabled type="text" class="form-control"
                                                                       id="deleteFormLastName"
                                                                       th:value="${user.getLastName()}">
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-md-8">
                                                                <label for="deleteFormAge">Age</label>
                                                                <input disabled type="number" class="form-control"
                                                                       id="deleteFormAge"
                                                                       th:value="${user.getAge()}">
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-md-8">
                                                                <label for="deleteFormEmail">Email</label>
                                                                <input disabled type="text" class="form-control"
                                                                       id="deleteFormEmail"
                                                                       th:value="${user.getEmail()}">
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <div class="col-md-8 gy-3">
                                                                <label for="deleteFormRole">Role</label>
                                                                <select disabled multiple size="2" class="form-select"
                                                                        id="deleteFormRole">
                                                                    <option th:each="role: ${user.getRoles()}"
                                                                            th:text="${role.toString()}">
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-danger">
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            th:data-bs-target="'#delete-modal-user-' + ${user.getId()}">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </div>

                <!--new user-->
                <div class="tab-pane fade" id="new-user" role="tabpanel"
                     aria-labelledby="new-user-tab">
                    <h5 class="p-3 mb-0 border-1 border">Add new user</h5>
                    <section class="p-3 bg-white">
                        <div class="container col-5">
                            <form th:method="POST" th:action="@{admin/create}" th:object="${user}"
                                  id="createForm">
                                <div class="row justify-content-center">
                                    <div class="col-md-8 gy-3">
                                        <label for="createName">First name</label>
                                        <input type="text" class="form-control" id="createName"
                                               th:field="*{name}">
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-8 gy-3">
                                        <label for="createLastName">Last name</label>
                                        <input type="text" class="form-control" id="createLastName"
                                               th:field="*{lastName}">
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-8 gy-3">
                                        <label for="createAge">Age</label>
                                        <input type="number" class="form-control" id="createAge"
                                               th:field="*{age}">
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-8 gy-3">
                                        <label for="createEmail">Email</label>
                                        <input type="text" class="form-control" id="createEmail"
                                               th:field="*{email}" required>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-8 gy-3">
                                        <label for="createPassword">Password</label>
                                        <input type="password" class="form-control" id="createPassword"
                                               th:field="*{password}" required>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-8 gy-3">
                                        <label for="createRoles">Roles</label>
                                        <select multiple size="2" class="form-select" id="createRoles"
                                                name="form-selected-roles"
                                                required>
                                            <option
                                                    th:each="role: ${roles}"
                                                    th:value="${role.getId()}"
                                                    th:text="${role.toString()}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-auto mt-3">
                                    <button type="submit" class="btn btn-success">Add new user</button>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <!--user info-->
        <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
            <h1>User information-page</h1>
            <h5 class="p-3 mb-0 border-1 border">About user</h5>
            <section class="p-3 bg-white">
                <table class="table table-striped">
                    <tbody>
                    <tr></tr>
                    <tr class="border-top">
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Roles</th>
                    </tr>
                    <tr>
                        <td th:text="${authenticatedUser.getId()}"></td>
                        <td th:text="${authenticatedUser.getName()}"></td>
                        <td th:text="${authenticatedUser.getLastName()}"></td>
                        <td th:text="${authenticatedUser.getAge()}"></td>
                        <td th:text="${authenticatedUser.getEmail()}"></td>
                        <td>
                            <th:block th:each="role : ${authenticatedUser.getRoles()}"
                                      th:text="${role.toString() + ' '}"></th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>